body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.green-background {
    color: white;
    background-color: #15f384; /* Green color code */
    padding: 17px; 
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  }
  
  .green-background select {
    background-color: #15f384; /* White background for the dropdown */
    color: white; /* Green font color for the dropdown */
    padding: 5px; /* Add padding for better visibility in the dropdown */
    border: none
  }
  